.form_input{
    width:308px;
    height:250px;
    margin:20px auto;
    position:relative;
}
.name_input,.pass_input{
    width:306px;
    height:36px;
    border:1px solid #e0e0e0;
    background:url(../images/icons02.png) 280px -41px no-repeat #f8f8f8;outline:none;font-size:14px;text-indent:10px;position: absolute;left:0;top:0}
.pass_input{
    top:65px;
    background-position:280px -95px;
}

.user_error,.pwd_error{
    color:#f00;
    position:absolute;
    left:0;
    top:43px;
    display:none
}

.pwd_error{top:110px;}

.more_input{
    position:absolute;
    left:0;
    top:130px;
    width:100%
}

.more_input input{
    float:left;
    margin-top:2px;
}
.more_input label{
    float:left;
    margin-left:10px;}
.more_input a{
    float:right;
    color:#666
}
.more_input a:hover{color:#ff8800}

.input_submit{
    width:100%;
    height:40px;
    position:absolute;
    left:0;
    top:180px;
    background-color:#47aa34;
    color:#fff;
    font-size:22px;
    border:0px;
    font-family:'Microsoft Yahei';
    cursor:pointer;}


.reg_form li .error_tip{
    float:left;
    height:30px;
    line-height:30px;
    margin-left:70px;
    color:#e62e2e;
    display:none;
}
.reg_form li .error_tip2{
    float:left;
    height:20px;
    line-height:20px;
    color:#e62e2e;
    display:none;
}